.Navbar {
   display: flex;
   justify-content: space-between;
   margin: 16px 0;
   padding: 0 20px;
   margin-bottom: 30px;
}

.logo h1 {
   color: #000;
}

.links {
   display: flex;
   align-items: center;
}

.links a {
   margin: 0 10px;
   color: #2a96dd;
}
