.recent-voting {
   margin: 80px auto;
   padding: 64px;
   max-width: 700px;
   background: #fff;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
}

table {
   border-collapse: collapse;
   width: 100%;
}

td,
th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 12px;
}

tr:nth-child(even) {
   background-color: #dddddd;
}

a {
   color: #000;
}
