:root {
   --primary: #2668ca;
   --secondary: #0654c9;
   --input: #6c6c80;
   --white: #fff;
   --background: #f5f5f5;
   --link: #2a96dd;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: var(--background);
}

*,
button,
input {
   border: 0;
   outline: 0;
   font-family: 'Roboto', sans-serif;
}

.App {
   max-width: 1300px;
   margin: auto;
}

a {
   text-decoration: none;
}

.title {
   text-align: center;
}
